
@font-face {
  font-family: "Bellota-Bold";
  src: url("../fonts/BellotaText-Bold.ttf");
} 

@font-face {
  font-family: "Bellota-Bold-Italic";
  src: url("../fonts/BellotaText-BoldItalic.ttf");
}

@font-face {
  font-family: "Bellota-Italic";
  src: url("../fonts/BellotaText-Italic.ttf");
}  

@font-face {
  font-family: "Bellota-Light";
  src: url("../fonts/BellotaText-Light.ttf");
}  

@font-face {
  font-family: "Bellota-Light-Italic";
  src: url("../fonts/BellotaText-LightItalic.ttf");
}  

@font-face {
  font-family: "Bellota-Regular";
  src: url("../fonts/BellotaText-Regular.ttf");
}  

html {
  height: 100%;
  line-height: 1.8;
}

body{
  height: 100%;                
  background: #000;          
} 

.barra-sobre-imagen {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 15% ;    
  opacity: 0.7;
  border: 0px solid transparent;
  background-image: linear-gradient(0.25turn, #25201c,#937f6b, #25201c);
}

.logo-sobre-imagen {
  position: absolute;
  top: 3%;
  left: 3%;
  width:27%;
}

.logo {
  width: 100%;
}

.letras-sobre-imagen-home {
  font-family: 'Bellota-Italic', sans-serif ;    
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 1px;
}


/* la excelencia que nos eleva...*/
.posicion-1 {
  position: absolute;
  top: 50%;
  left: 55%; 
  color:rgb(51, 50, 50);     
}

.mov1 {
  animation-name: mov1-animation;
  animation-duration: 3s;
  animation: mov1-animation 3s;
  animation-timing-function: ease-in;
}

@keyframes mov1-animation {
  from {left: 55%; color:transparent;}
  to {left: 55%; color: black;}
}

/* nos conduce a alcanzar */
.posicion-2 {
  position: absolute;
  top: 61%;
  left: 13%;    
  color:rgb(51, 50, 50);    
}

.mov2 {
  animation-name: mov2-animation;
  animation-duration: 4s;
  animation: mov2-animation 5s;
  animation-timing-function: ease-out;
}

@keyframes mov2-animation {
  from {top: 64%; color:transparent;}
  to {top: 61%; color:black;}
}

/* nuestros mayores objetivos */
.posicion-3 {
  position: absolute;
  top: 50%;
  left: 58%; 
  color:rgb(51, 50, 50);       
}

.mov3 {
  animation-name: mov3-animation;
  animation-duration: 4s;
  animation: mov3-animation 5s;
  animation-timing-function: ease-out;
}

@keyframes mov3-animation {
  from {top: 45%; color:transparent;}
  to {top: 50%; color:black;}
}

/* esencia empresarial */
.posicion-4 {
  position: absolute;
  top: 47%;    
  color: white;    
}

.mov4 {
  animation-name: mov4-animation;
  animation-duration: 3s;
  animation: mov4-animation 3s;
  animation-timing-function: ease-in;
}

@keyframes mov4-animation {
  from {top: 47%; color:transparent; font-size: 1.6rem;}
  to {top: 47%; color: white; font-size: 2rem;}
}


table.centrada {
  width:70%; 
  margin-left:15%; 
  margin-right:15%;
}

.sidebar {
  width: 350px;
  font-family: 'Bellota-Regular', sans-serif ;
  opacity: 0.9;
  display:none; 
  padding-top:120px; 
  right:0; 
  z-index:2
}

.sidebar-burger {
  font-size: 2.2rem;       
  background-color: transparent !important;
  top: 0px;
  right:0px;
  width:auto; 
  position: absolute; 
  padding-top: 0px !important;
}

.sidebar-burger:hover {
  color:#937f6b !important;    
  background-color: transparent !important;
}

.sidebar-flecha {
  background-color: transparent !important;
  color:#937f6b !important;  
  padding-top: 18px;  
  padding-left: 15px;
}

.sidebar-flecha:hover {
  background-color: transparent !important;
}

.flecha-sidebar {    
  background: linear-gradient(90deg, rgb(39, 39, 39), white, rgb(39, 39, 39));
  font-size: 2.8rem;    
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;    
}

.flecha-sidebar:hover {    
  background: linear-gradient(45deg, rgb(39, 39, 39), white, rgb(39, 39, 39));   
  font-size: 2.8rem;    
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;    
}

.burger {        
  background: linear-gradient(90deg, rgb(39, 39, 39), white, rgb(39, 39, 39));    
  font-size: 4rem;    
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;    
}

.burger:hover {       
  background: linear-gradient(45deg, rgb(39, 39, 39), white, rgb(39, 39, 39));    
  font-size: 4rem;    
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;    
}
    
.sidebar-item {
  font-family: 'Bellota-Regular', sans-serif ;
  font-size: 1rem;  
}

.sidebar-item::after{
  font-family: 'Bellota-Regular', sans-serif ;  
  display:block;
  content: '';
  border-bottom: solid 2px #c0ad98;  
  transform: scaleX(0);  
  transition: transform 800ms ease-in-out;
}

.sidebar-item:hover:after {
  transform: scaleX(1);
}

.sidebar-item:hover {
  font-family: 'Bellota-Regular', sans-serif ;  
  font-weight: bold;
  color:#c0ad98 !important;
  background-color:#000!important;
}

.excelencia {
  background-color: #242c34;
  background-image: linear-gradient(135deg, #242c34,#36424e);
}

.logo-excelencia {
  width: 10%;    
}

.imagen-azul {
  padding-top: 2%;
}

table.centrada-2 {
  width:40%; 
  margin-left:30%; 
  margin-right:30%;
}

.barra-sobre-imagen-excelencia {
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 15% ;  
  opacity: 0.8;
  border: 0px solid transparent;
  background-image: linear-gradient(0.25turn, #25201c,#937f6b, #25201c);    
}


.texto-promesa {
  color:#ffffff;
  font-family: 'Bellota-Light', sans-serif ;
  padding-left: 15%;
  padding-right: 15%;
  line-height: 2;
  letter-spacing: 1px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.texto-buscamos-1 {
  font-family: 'Bellota-Light', sans-serif ;  
  color: white;
  padding-left: 10%;
  padding-top: 10%;
}

.guion-excelencia {
  padding-left: 10%; 
  padding-top:5%;
}

.texto-buscamos-2 {
  font-family: 'Bellota-Light', sans-serif ;  
  color: white;
  padding-left: 10%;
  padding-top: 5%;
}

.trayectoria {
  background-image: url('../images/home/fondoGE.jpg');
  background-size: cover ;
}

.texto-trayectoria-1 {
  color:#000;
  font-family: 'Bellota-Bold-Italic', sans-serif ;
  line-height: 1.5;   
  padding-top: 15%;       
}

.texto-trayectoria-2 {
  color:#000;
  font-family: 'Bellota-Bold', sans-serif ;
  line-height: 1.5;        
}

.texto-trayectoria-3 {
  color:#000;
  font-family: 'Bellota-Bold-Italic', sans-serif ;
  line-height: 1.5; 
}

.logos-trayectoria {
  padding-top: 60px; 
  padding-bottom: 60px; 
  display: flex; 
  justify-content: space-between; 
  margin-left: 30%; 
  margin-right: 30%;            
}

.cada-logo {
  width:120px; 
  height: 120px;
}

.logo-remax {
  width:190px; 
  height: 120px;
}

.equipoejecutivo {
  background-color: #242c34;
  background-image: linear-gradient(135deg, #242c34,#36424e);
}

.equipo-card {
  text-align:center; 
  color:gray; 
  font-family: 'Bellota-Regular';     
  border: 5px solid transparent;
}

.equipo-card:hover {
  color:#ffffff;
  border: 5px solid;
  border-image: linear-gradient(135deg, #242c34,white ) 1;
}

.equipo-card-nombre {    
  font-size: 1.3rem;
}

.equipo-card-cargo {    
  font-size: 1.1rem;
}

.equipo-card-texto {    
  font-size:0.9rem; 
  padding-left: 10%; 
  padding-right: 10%;
}

.equipo-card-circulo {
  width: 150px;
  height: 150px;        
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
  /*border: 2px solid #242c34;;*/
}

/*.equipo-card-circulo:hover {    
  border: 2px solid whitesmoke;    
}*/

.equipo-foto-1 {
  background-image: url(../images/home/imgSebastianVillalba.png);
}

.equipo-foto-2 {
  background-image: url(../images/home/imgNataliaRodriguez.jpg);
}

.equipo-foto-4 {
  background-image: url(../images/home/logo.png);
}

.equipo-foto-3 {
  background-image: url(../images/home/logo.png);
}

.texto-equipo {
  color:#ffffff;
  font-family: 'Bellota-Regular', sans-serif ;
  font-size: 1.2rem;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 2;
  letter-spacing: 2px;
  padding-top: 1%;
  padding-bottom: 1%;
}

.contacto {
  background-image: url('../images/home/FondoContacto.png');
  background-size: cover;
}

.linea-iconos-contacto {
  position: relative; 
  display: inline-block;
  top: 35%; 
  padding-bottom: 10%; 
  left: 0px;
  text-align: center;
  color: white; 
  font-size: 4rem; 
  letter-spacing: 80px;
  width:100%;
}

.icono-contacto {
  width:36px;
  height: auto;
}

.icono-contacto-mediano {
  width: 45px;
  height: auto;
}

.icono-contacto-grande {
  width: 50px;
  height: auto;
}

.texto-contacto {
    font-family: 'Bellota-Regular', sans-serif;
    font-size: 0.8rem;
    color: white;
    letter-spacing: 2px;
}

.link-icono-contacto {
  text-decoration: none;
}

.link-icono-contacto:hover {
  text-decoration: none;
  color:white;
}

.tres-puntos {
  padding-top: 40px;
}

.pie {
  background-image: url('../images/home/fondoFooter.png');
  background-size: cover;
  color: white;
  font-family: 'Bellota-Regular', sans-serif;
  font-size: 0.8rem;
  padding-top: 0%;
  padding-bottom: 6%;
}

.pie-grupo {
  padding-left: 18%;
  padding-top: 2%;
}

.pie-location {
  width:70px;
  height: auto;
}

.pie-titulo {
  font-size: 1rem !important; 
  letter-spacing: 2px;
}

.zoom-pie {
  transition: transform .8s; 
}

.zoom-pie:hover {
  font-weight: bold;
  font-style: italic; 
}

  
.texto-degrade {
  background: linear-gradient(90deg, rgb(39, 39, 39), white, rgb(39, 39, 39));
  font-family: 'Bellota-Regular', sans-serif;
  font-size: 1.8rem;
  letter-spacing: 5px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.zoom {
  transition: transform .8s; 
}

.zoom:hover {
    transform: scale(1.2);      
}




/*----------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 768px) {

    .barra-sobre-imagen {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100% !important;
      height: 20% !important;        
    }

    .logo-sobre-imagen {
      position: absolute;
      top: 1%;
      left: 4%;
      width:75%;
      height: auto;
    }

    .logo {
      width: 50%;
    }

    .sidebar {
      width: 350px;
    }
    
    .sidebar-burger {
      font-size: 1.2rem; 
    }
    
    .flecha-sidebar {
      font-size: 1.8rem;
    }
    
    .flecha-sidebar:hover {    
      font-size: 1.8rem;       
    }
    
    .burger {      
        font-size: 1.8rem;
    }

    .burger:hover { 
      font-size: 1.8rem; 
    }

    .sidebar-item {
      font-size: 0.8rem;  
    }

    .letras-sobre-imagen-home {
      font-size: 1rem;
      line-height: 1.2;
      letter-spacing: 1px;
    }
      
    .posicion-2 {
      position: absolute;
      top: 61%;
      left: 12%;    
      color: white;  
    }

    @keyframes mov2-animation {
      from {top: 64%; color:transparent;}
      to {top: 61%; color: white;}
    }

    
    .posicion-3 {
      position: absolute;
      top: 50%;
      left: 58%; 
      color:rgb(51, 50, 50);       
    }
    
    .posicion-4 {
      position: absolute;
      top: 47%;    
      color: white;    
    }

    @keyframes mov4-animation {
      from {top: 47%; color:transparent; font-size: 0.8rem;}
      to {top: 47%; color: white; font-size: 1rem;}
    }

    .logo-excelencia {
      width: 20%;    
    }

    .imagen-azul {
      padding-top: 2%;
    }

    .texto-buscamos-1 {      
      padding-left: 10%;
      padding-right: 10%;
    }
    
    .guion-excelencia {
      padding-left: 10%; 
      padding-top:10%;
    }

    .texto-buscamos-2 {
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 10%;
      padding-bottom: 10%;
    }

    .texto-promesa {      
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 10%;
      padding-bottom: 10%;
    }

    .trayectoria {
      background-image: url('../images/home/fondoGE_mobile.jpg');
      /*background-size: cover ;*/
      width: 100%;
    }

    .texto-trayectoria-1 {      
      padding-top: 35%;     
      padding-left: 8%;
      padding-right: 8%;
    }  

    .texto-trayectoria-2 {      
      padding-left: 8%;
      padding-right: 8%;  
    } 
    
    .texto-trayectoria-3 {      
      padding-left: 8%;
      padding-right: 8%;  
    } 

    .logos-trayectoria {
      padding-top: 60px; 
      padding-bottom: 60px; 
      display: flex; 
      justify-content: space-between; 
      margin-left: 8%; 
      margin-right: 8%;            
    }
    
    .cada-logo {
      width:90px; 
      height: 90px;
    }
    
    .logo-remax {
      width:140px; 
      height: 90px;
    }

    .texto-equipo {
      font-size: 1rem;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 1%;
      padding-bottom: 1%;
    }

    .linea-iconos-contacto {
      position: relative; 
      display: inline-block;
      top: 35%; 
      padding-bottom: 10%; 
      left: 0px;
      text-align: center;
      color: white; 
      font-size: 4rem; 
      letter-spacing: 80px;
      width:100%;
    }
    
    .icono-contacto {
      width:24px;
      height: auto;
    }
    
    .icono-contacto-mediano {
      width: 36px;
      height: auto;
    }
    
    .icono-contacto-grande {
      width: 40px;
      height: auto;
    }

    .texto-contacto {
      font-size: 0rem;   
    }

    .tres-puntos {
      padding-top: 0px;
    }

    .pie-grupo {
      padding-left: 21%;
      padding-top: 2%;
    }

    .texto-degrade {
      background: linear-gradient(90deg, rgb(39, 39, 39), white, rgb(39, 39, 39));
      font-family: 'Bellota-Regular', sans-serif;
      font-size: 1.2rem;
      letter-spacing: 5px;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }

}



/*------------------------ PANTALLA MUY GRANDE -------------------------------------*/
@media screen and (min-width:1441px) {

    .sidebar-burger {
      font-size: 3rem; 
    }

    .burger { 
      font-size: 6rem;
    }

    .logo-sobre-imagen {
      position: absolute;
      top: 1%;
      left: 3%;
      width:30%;
      height: auto;
    }

    .logo {
      width: 120%;      
    }

    .sidebar {
      width: 450px;
      padding-top:220px;
    }

    .flecha-sidebar {
      font-size: 3.8rem;
    }
    
    .flecha-sidebar:hover {    
      font-size: 3.8rem;       
    }

    .sidebar-item {
      font-size: 1.6rem;  
    }

    .letras-sobre-imagen-home {      
      font-size: 3rem;
      line-height: 1.2;
      letter-spacing: 1px;
    }

        
    .texto-promesa {  
      line-height: 2;
      letter-spacing: 2px;
      padding-top: 2%;
      padding-bottom: 2%;
      font-size: 1.5rem;
    }

    .texto-buscamos-1 {
      font-family: 'Bellota-Light', sans-serif ;  
      color: white;
      font-size: 1.5rem;
      padding-left: 10%;
      padding-top: 10%;
    }

    .guion-excelencia {
      padding-left: 10%; 
      padding-top:5%;
    }

    .texto-buscamos-2 {
      font-family: 'Bellota-Light', sans-serif ;  
      color: white;
      font-size: 1.5rem;
      padding-left: 10%;
      padding-top: 5%;
    }

    .texto-degrade {
      font-size: 2.7rem;
      letter-spacing: 6px;      
    }

    .texto-trayectoria-1 {      
      padding-top: 15%;     
      padding-left: 8%;
      padding-right: 8%;
      font-size: 1.8rem;
    }  

    .texto-trayectoria-2 {      
      padding-left: 8%;
      padding-right: 8%;  
      font-size: 1.8rem;
    } 
    
    .texto-trayectoria-3 {      
      padding-left: 8%;
      padding-right: 8%; 
      font-size: 1.8rem; 
    } 

    .logos-trayectoria {
      padding-top: 60px; 
      padding-bottom: 60px; 
      display: flex; 
      justify-content: space-between; 
      margin-left: 28%; 
      margin-right: 28%;            
    }
    
    .cada-logo {
      width:180px; 
      height: 180px;
    }
    
    .logo-remax {
      width:300px; 
      height: 200px;
    }

    .texto-equipo {
      font-size: 1.7rem;
    }

        
    .icono-contacto {
      width:40px;
      height: auto;
    }
    
    .icono-contacto-mediano {
      width: 50px;
      height: auto;
    }
    
    .icono-contacto-grande {
      width: 60px;
      height: auto;
    }

    .texto-contacto {
      font-size: 1.3rem;   
    }

    .pie {
      font-size: 1.4rem;
      padding-top: 0%;
      padding-bottom: 6%;
    }

    .pie-titulo {
      font-size: 1.5rem !important; 
      letter-spacing: 2px;
    }

    
    .pie-grupo {
      padding-left: 18%;
      padding-top: 2%;
    }

    .pie-location {
      width:90px;
      height: auto;
    }
}

